extends layout

block content
  //- Feature Films Section
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading-text= pageHeader.heading
      br
      p.lead.text-white= pageHeader.tagline
    br
    br
    .container
      .row.justify-content-center.bg-black
        each movie in movies
          .col-6.col-md-4
            .thumbnail
              img.img-fluid.w-100(src= movie.poster)
              br
              br
              a.btn-link(href="/movies")
              h4.card-title-text.text-warning.text-center [#{movie.id}]
              h4.card-title-text.text-warning.text-center #{movie.title}
                br
                br
                button.btn.btn-success(type="button")= movie.details
              br
            br    
