extends layout

block content
  //- Movie Synopsis Section
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading-text= pageHeader.heading
      br
      p.lead.text-white= pageHeader.tagline
      br
      p.text-white= pageHeader.message
    br
    br
    .container
      each movie in movies
        .row
          .card.w-100.bg-dark
            br
            .card-body.bg-dark.text-white
              h4.card-title-text.text-warning.text-center #{movie.title} (#{movie.year})
              img.img-responsive.mx-auto.d-block(style="width:40%" src= movie.poster)
              br
              p.card-text.text-justify-content-center= movie.rating
              p.card-text.text-justify-content-center= movie.summary
              br
              .container
                .btn-toolbar-justify-content-center(role="toolbar", aria-label="Show Times Toolbar")
                  h4.card-title-text.text-warning.text-center #{movie.theater}
                  p.text-justify-content-center.text-info #{movie.frequency} | #{movie.length}
                  p.text-justify-content-center.text-info= movie.genres
                  .btn-group.mr-2(role="group", aria-label="First Showtime")
                    a.btn-link(href="/movies/reserve")
                      button.btn.btn-success(type="button")= movie.showtimes[0]
                  .btn-group.mr-2(role="group", aria-label="Second Showtime")
                    a.btn-link(href="/movies/reserve")
                      button.btn.btn-success(type="button")= movie.showtimes[1]
                  .btn-group.mr-2(role="group", aria-label="Third Showtime")
                    a.btn-link(href="/movies/reserve")
                      button.btn.btn-success(type="button")= movie.showtimes[2]
            br
          br
        br
        br
